DATABASE_URL=sqlite:///./test.db
VECTOR_DB_URL=http://localhost:6333
PDF_STORAGE_PATH=./storage/pdfs
VECTOR_STORAGE_PATH=./storage/vectors
COURSE_ID=your_course_id
GROUP_ID=your_group_id
PAGE_ID=your_page_id
WEEK=your_week